<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Census Shapes Polymaps Example</title>
    <!-- POLYMAPS REFERENCE FILES -->
    <script type="text/javascript" src="http://polymaps.org/polymaps.min.js?2.5.0"></script>
    <script type="text/javascript" src="http://polymaps.org/nns.min.js?1.1.0"></script>
    <link rel="stylesheet" type="text/css" href="http://polymaps.org/screen.css?0.9+1" />
    <link rel="stylesheet" type="text/css" href="http://polymaps.org/style.css?2.2.0" />
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
